<launch>

  <arg name="device" default="ser:device=/dev/ttyACM0"/>
  <arg name="port" default="44444"/>
  <arg name="simulation" default="False"/>

  <node pkg="asebaros" exec="asebaros" args="--log-level info" output="screen">
    <param name="port" value="$(var port)"/>
    <param name="reload_script_on_reconnect" value="true"/>
    <param name="set_id_variable" value="false"/>
    <param name="shutdown_on_unconnect" value="false"/>
    <param name="highest_acceptable_protocol_version" value="9999"/>
    <param name="targets" value="$(var device)" value-sep=","/>
    <param name="nodes">
      <param name="others">
        <param name="accept" value="false"/>
      </param>
      <param name="thymio">
        <param name="type" value="thymio-II"/>
        <param name="id_variable" value="_id"/>
        <param name="accept" value="true"/>
        <param name="include_id_in_events" value="true"/>
        <param name="maximal_number" value="1"/>
      </param>
    </param>
    <param name="script">
      <param name="path" value="$(find-pkg-share example_package)/launch/main.aesl"/>
    </param>
  </node>

</launch>